@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1556178088225'); /* IE9 */
  src: url('iconfont.eot?t=1556178088225#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABrQAAAKPAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBEIEVATYCJAMMCwgABCAFhG0HSRvmBREVjHWynwPuZrBsjXGsDhx9X25t9LbM0EhGUmZm7giexr7N293/b88s3iXV7gp0s0TomqBRIiESCnQ8eujc1lo+Y3VUy4fupw4doHqg7B1nJ5cnVyFNh861iACe3hAiBfKrMAqk8N/4cfYbvd614/k8PZ/ncnoT6OxofqBzudaisZZtPOpFcRxQYHtiFFkJZdwiuy/xiFryYwJths2IrZ2ja6qCrgrEk4f3b6qlrKJojSo0Ww4W8UZZTa/SBzmv4+/HP05UkkZGN57l23esdXWTf1cjbBoScjkBjjeQMYNC3GitnmFZaFzWVi1GONas4OcI8bPQL47KJ+Kv480dYAKc6YnMwuXRzHBEAhk0y/URLErswNUh+oxk4+TH8WtrZ8Xb7WNkpfvS1cL05jl24To7O4zu6G1BHwxXvysot7s6/ydTBxd8c+7Cx4JKB8jLigOg1w/J9bklRqfke+kV8v34F4HgK7tb0L3/c80CPjm/E2+B99QzxIK/ZUb2FddKfbnYJmHy41kfIpwAg55whSb7/JjuGUS3E6rBCfEWQzmyaoQs7Awa2q2gqVpFm2m7x9v1e4plUVox5RlB6PEOSZf3yHp8JAv7HZSyM/+o6EURDb8xvLDpPILGA+NKcAvrEwQbShUPSCNp/URvF6+4aI2FX+QsKIBtWNXGC6bIS2zJ9p4jokAxJfBMnsM4JtBMIW7E8EX0xDRV25uMDSW5hgcMrQi0BdZOQGCDpFQ4WjRqn/+EPDuxFe7RddS/EMsEkwObwUKQL64UpXuUVzJ7HocQClAYSYBnMg/FYgTo9nkhtCEM/oSyNmGyQQrrMrb3JP93DNrQ3hwpchTdR+9YrJjpsNiK4bRdzux0LgcA') format('woff2'),
  url('iconfont.woff?t=1556178088225') format('woff'),
  url('iconfont.ttf?t=1556178088225') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1556178088225#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_arrow_down:before {
  content: "\e6f3";
}

.icon-icon_arrow_up:before {
  content: "\e6f4";
}

